div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}
/* Li (list items) have their display property set to “list-item” by default which makes them a bulleted list item. */
/* When this property is reset by you to “inline”, then the bullet points also disappear. In a way, we 
override the default settings with our CSS. */
ul{
    display: inline;
}